 /* ====== Tela Inicial ====== */
 @media screen and (max-width: 899px) {
        .hero{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
          
        }
        .cardHero{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        .descriptionHero{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        
      }
@media screen and (max-width: 500px) {
  .header {
    padding: 10px 16px;
  }

  .logo img {
    width: 80px;
    height: 60px;
  }

  .content_telaInicial .logo {
    font-size: 1.8rem;
  }
  .content_telaInicial p{
    text-align: center;
  }
  
}

:root {
    --primary:#FFFFFF;
    --branco_neutro:#f4f4f4;
    --texto_primario:#1A2A36;
    --texto_secundario:#4A3A36;
    --icones:#2D3648;
    --azul_escuro:#133D7A;
    --azul_medio: #1E4F9A;
    --shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}


* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;

}
:root {
  --primary: #FFFFFF;
  --texto_primario: #1A2A36;
  --branco_neutro:#f4f4f4;
  --texto_secundario: #4A3A36;
  --icones: #2D3648;
  --azul_escuro: #133D7A;
  --azul_medio: #1E4F9A;
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}
body {

  font-family: 'Poppins',sans-serif;
}
/* ====== Modal Styles 
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
      align-items: center;
      justify-content: center;
    }

    .modal-content {
      background-color: var(--primaria);
      border-radius: 8px;
      width: 90%;
      max-width: 400px;
      padding: 30px;
      position: relative;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    }

    .dark-mode .modal-content {
      background-color: var(--card-escuro);
    }

    .close-modal {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--texto-escuro);
    }

    .dark-mode .close-modal {
      color: var(--texto-claro);
    }

    .modal h2 {
      margin-bottom: 20px;
      color: var(--texto-escuro);
    }

    .dark-mode .modal h2 {
      color: var(--texto-claro);
    }

    .modal-form .form-group {
      margin-bottom: 20px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
    }

    .form-group label {
      margin-bottom: 8px;
      color: var(--texto-escuro);
      font-weight: 500;
    }

    .dark-mode .form-group label {
      color: var(--texto-claro);
    }

    .form-group input {
      height: 40px;
      padding: 5px 12px;
      border: 1px solid var(--neutra_escura);
      border-radius: 6px;
      background: var(--primaria);
      color: var(--texto-escuro);
      font-size: 16px;
    }

    .dark-mode .form-group input {
      background: var(--card-escuro);
      border: 1px solid var(--muted);
      color: var(--texto-claro);
    }

    .btn-signup {
      background-color: var(--destaque);
      width: 100%;
      padding: 12px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: var(--transition);
    }

    .btn-signup:hover {
      background-color: var(--destaque-escuro);
    }

    .modal-form p {
      text-align: center;
      margin-top: 15px;
      color: var(--texto-escuro);
    }

    .dark-mode .modal-form p {
      color: var(--texto-claro);
    }

    .modal-form a {
      color: var(--destaque);
    }

    #recuperar_senha {
      margin-top: 5px;
      font-size: 14px;
      text-align: right;
    }

    .auth-buttons {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .btn-login {
      border-radius: 7px;
      border: 2px solid var(--destaque);
      padding: 8px 16px;
      font-size: 14px;
      transition: 0.4s ease-in-out;
      color: var(--destaque);
      font-weight: 600;
    }

    .btn-login:hover {
      background-color: var(--destaque);
      color: var(--texto-escuro);
    }

    .btn-signup-header {
      background-color: var(--destaque);
      border-radius: 7px;
      padding: 8px 16px;
      font-size: 14px;
      transition: 0.4s ease-in-out;
      color: var(--texto-escuro);
      font-weight: 600;
    }

    .btn-signup-header:hover {
      border: 2px solid var(--destaque);
      background-color: transparent;
      color: var(--destaque);
    }
====== */

/* ====== modal ====== */

.modal {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: column;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--primary);
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  padding: 30px;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--texto-escuro);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 8px;
  color: var(--texto_primario);
  font-weight: 600;
  font-size: 1.1rem;
}

.form-group input {
  height: 49px;
  padding: 5px 12px;
  border: 3px solid var(--azul_escuro);
  border-radius: 16px;
  background: #f0f0f0;
  color: var(--texto_primario);
  font-size: 16px;
}

.btn-signup {
  background-color: var(--azul_medio);
  width: 100%;
  padding: 12px 15px;
  font-size: 19px;
  font-weight: 600;
  height: 48px;
  color: var(--primary);
  margin: 15px 0;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: var(--transition);
}

.btn-signup:hover {
  background-color: var(--azul_escuro);
}

.modal-form p {
  text-align: center;
  margin-top: 15px;
  color: var(--texto-escuro);
}

.modal-form a {
  color: var(--azul_medio);
}

.recuperar_senha {
  margin: 9px 0;
  color: #133D7A;
  font-size: 17px;
  text-align: left;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo_modal {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}
.logo_modal img {
  width: 80px;
  height: auto;
}
.Btncriarconta {
  background-color:#f0f0f0;
  border-radius: 7px;
  padding: 8px 16px;
  width: 200px;
  height: 58px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  color: var(--texto_primario);
  font-weight: 600;
  border: none;
  transition: .4s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.Btncriarconta:hover{
  background-color: #e7e6e6;
}
#signupModal{
  display: none;
}
.boxMostrarsenha{
  display: flex; 
  justify-content: start;
  gap: 5px;
  align-items: center;
  width: 100%;
}
.boxMostrarsenha .Mostrar{
  height: 65px;
  width: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxMostrarsenha label{
  display: flex;
  cursor: pointer; 
  gap: 7px;
  align-items: center;
  justify-content: center;
}

/* ====== Select de Tipo de Conta ====== */
.text_tipo_conta {
  color: var(--texto_primario);
  font-weight: 600;
  font-size: 0.95rem;
  margin: 15px 0 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.text_tipo_conta::before {
  content: '';
  width: 6px;
  height: 6px;
  background: var(--azul_medio);
  border-radius: 50%;
  display: inline-block;
}

.tipo_de_conta {
  width: 100%;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 600;
  height: 52px;
  color: var(--texto_primario);
  background: var(--branco_neutro);
  border: 2px solid var(--branco_neutro);
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition);
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23133D7A' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 16px;
}

.tipo_de_conta:focus {
  outline: none;
  border-color: var(--azul_medio);
  background-color: var(--primary);
  box-shadow: 0 0 0 3px var(--azul_claro);
}

.tipo_de_conta option {
  padding: 12px;
  background: var(--primary);
  color: var(--texto_primario);
}
/* ====== Fim modal ====== */

:root {
    --primary:#FFFFFF;
    --texto_primario:#1A2A36;
    --texto_secundario:#4A3A36;
    --icones:#2D3648;
    --azul_escuro:#133D7A;
    --azul_medio: #1E4F9A;
    --shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}
.main_plash{
    opacity: 0;
    transition: var(--transition);
}
.telaIncial{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  inset: 0;
  touch-action: none;
  scroll-behavior: none;
  background-color: var(--azul_medio);
}
.content_telaInicial{
    height: 80vh;
    font-family: 'Poppins',sans-serif;
    display: flex;
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content_telaInicial .logo{
    color: var(--primary);
    flex-direction: column;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    font-size: 2rem;
    animation: telalogo 3s ease-in-out;
}
.logo img{
    width: 120px;
    animation: flutuar 5s ease-in-out infinite;
}
@keyframes flutuar {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
}
.telaInialText{
    padding: 0 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.telaInialText p{
    color: var(--primary);
    text-align: center;

    font-size: 1.5rem;
    animation: telatext 3s ease-in-out;
    font-weight: 600;
}
@keyframes  telalogo  {
    0%{
       transform: translateY(-30px);
       opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes  telatext  {
    0%{
       transform: translateY(30px);
       opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
